

@font-face{
    font-family: "Lunacy";
    src: url("Assets/Fonts/Lunacy.woff") format("woff"),url("Assets/Fonts/Lunacy.woff") format("woff2");
}
*{
    box-sizing: border-box;
    cursor: url("Assets/Cursors/nat1014.cur"), auto;
}


body{
    margin: 0;
    background-image: url(back5.png);
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    background-size: 100% 100%;
}
.page-title{
    
   
    color:deeppink;
    font-family:chiller, serif;
    font-weight: normal;
    margin-top: 100px;
    margin-left:100px;
    text-align: center;
    font-size: 150px;
}
.game-info-container{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;

}
.game-info{
    font-family: Lunacy,serif;
    color:rgb(109, 4, 62) ;
    font-size: 45px;
}
.game-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap:10px;
    margin:50px auto;
    justify-content: center;
    perspective: 500px;
}
.card{
    position: relative;
    background-color: white;
    height:175px;
    width: 125px;
    border-radius: 10px;
}

.card-face{
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    backface-visibility: hidden;
    align-items: center;
    border-radius: 12px;
    border-width: 5px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
    
}
.card:hover .card-back{
  transform: rotateY(-180deg);
}
.card:hover .card-front{
    transform: rotateY(0);
}
.card.matched .card-front .card-value{
    animation:  dance 1s linear infinite 500ms;
}
.card-back {
    
    border-color: rgb(247, 174, 214);
    height:175px;
    width: 125px;
    transform: rotateY(0);
}
.oct{
    border-radius: 10px;
    width: 100px;
    height: 100px;
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 10px;
    transform: translateY(-10px);
    transition: transform 100ms ease-in-out;
}
.card-back:hover .oct{
    transform: translateY(0);
}
.card-value{
    margin-left: 10px;
    width: 90px;
    height: 90px;
    position:relative;
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
}
.card-front:hover .card-value{
    transform: scale(1);
}


.card-front{
    background-color: white;
    border-color: rgb(131, 230, 220);
    height:175px;
    width: 125px;
    transform: rotatey(180deg);
}
.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:100;
    flex-direction: column;
    color:rgb(238, 40, 139);
    font-family: Chiller,serif;
    transition: background-color 500ms, font-size 500ms;
}
.overlay-text-small{
    font-size: .3em;
}
.overlay-text.visible{
    display: flex;
    animation: overlay-grow 500ms forwards;
}

@keyframes dance{
    0%, 100%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);
    }
}
@keyframes overlay-grow{
    from{
        background-color: rgb(255, 10, 214);
        font-size: 0;
    }
    to{
        background-color: rgb(245, 151, 215);
        font-size: 10em;
    }
}

@media(max-width:600px){
    .game-container{
        grid-template-columns: repeat(2,auto);
    }
    .game-info-container{
        flex-direction: column;
        align-items: center;
    }
}